body{
	margin-left: 15%;
	width: 70%;
}
form {
	margin-top:5%;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
}

.chat-box{
	min-height: 400px;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}
.chat-box-wrapper{
	width: 50%;
	margin-left: 25%;
}

#user-list-wrapper{
	float: left;
	width: 20%;

}

ul#users-list{
	max-height: 280px;
	overflow: auto;
	/*list-style-type: none;*/
}
#message-list li:nth-child(odd)  { background-color:whitesmoke ; }
#message-list li:nth-child(even)  { background-color:white; }
#private-message-list li:nth-child(odd)  { background-color:whitesmoke ; }
#private-message-list li:nth-child(even)  { background-color:white; }

/* -----Login Page------ */
#login-form{
	margin-top: 10%;
	margin-left: 30%;
	width: 40%;
}
#login-button{
	width: 40%;
	margin-left: 30%;
}


/* ----Chat Room------ */
.msg-content-div{
	float: left;
	width: 74%;
}
.send-button{
	width: 20%;
    margin-left: 4.25%!important;
}
#chat-room{
	margin-top: 5%;
}

/* ------Private Chat-------*/
#private-chat{
	margin-top: 5%;
}

